body {
    height: 100%;
    width: 75%;
    margin: 5% auto;
    background:  rgb(45, 170, 224); 

}

.blog{
    width: 250px;

}
h2 {
    color: rgb(75, 64, 64);
    width: 60%;
    margin: 5% auto;

}
h3{
    color:rgb(21, 151, 231);
}
main {
    
    width:60%;
    margin:5% auto;

}
article {
    margin: 1%; 
    border: solid grey 2px;
    background: grey;
    padding: 8px 8px 8px 8px;

}

article:hover
{
    background: lightgrey;

}
article:hover > h3
{
    color: rgb(84, 88, 94);
}



.blogs-container {
    height: 100%;
    width: 50%;
    border: 1px solid blue;
}
.blog {
    height: 100px;
    width: 100%;
    border: 1px solid blue;
    
} 