body { 
    height: 100%;
    width: 100%;
    background: peru;

}
div {
background: red;
height: 300px;
width: 250; 
}

h3 {
  display: inline-block;

}
h3, p 
{
  display: inline-block;
}

  
  p:nth-of-type(2) {
    font-size: 10px

  }
  .content {
    text-align: left;
    padding: 0 0 0 10 px
    color: green;
    font-weight: bold

  }
  input[type]{
    background: red;
    border: 4px solid green;
  }